.homepage-next-events .next-event-wrap {
    margin-top: 96px;
    text-align: center;
}

.homepage-next-events .next-event-wrap figure {
    position: relative;
    margin: 0;
}

.homepage-next-events .next-event-wrap figure img {
    width: 100%;
}

.homepage-next-events .next-event-wrap .event-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -32px;
    left: 32px;
    width: 78px;
    height: 78px;
    border: 2px solid #fff;
    border-radius: 50%;

    font-size: 22px;
    font-weight: bold;
    color: #fff;

    background: #9a28d7;
}

.homepage-next-events .next-event-wrap .entry-title {
    margin-top: 32px;
    font-size: 28px;
    font-weight: bold;
    color: #232127;
}

.homepage-next-events .next-event-wrap .posted-date {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #777777;
}

.homepage-next-events .next-event-wrap .posted-date span {
    color: #9a28d7;
}

.homepage-next-events .next-event-wrap .entry-content p {
    margin-top: 22px;
    font-size: 18px;
    line-height: 1.7;
    color: #777777;
}

.homepage-next-events .next-event-wrap .entry-footer {
    margin-top: 40px;
}

.homepage-next-events .next-event-wrap .entry-footer a {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #bec0cc;
    text-decoration: none;
    color: #bec0cc;
}

.homepage-next-events .next-event-wrap .entry-footer a:hover {
    border-color: #9a28d7;
    color: #9a28d7;
}